.main {
 
  margin-right: 5%;
  background-color: #101010;
  color: #f2183c;
  padding-top: 20px;
  transition: 6s ease;
  width: 30%;


}

.sidebar {
 
  display: flex;
  flex-direction: column;

  margin-left: 1rem;
  margin-right: 1rem;

  background-color: #101010;
  color: #fff;
  transition: 4s ease;



}

.sidebar h2 {
 
  font-size: 1.4rem;

}

.toggle_button {
  margin: 1rem;
  

  background-color: #f2183c;
  border-radius: 10rem;
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
}


.sidebar_list {
  list-style: none;
  padding: 0;
  margin: 0;
  transition: 1s ease;

}

.border {
  border-top: #f2183c solid;

}



.sidebar_list h2:active{
  
  transform: scale(104%);
  color: #f2183c;
  cursor: pointer;
  transition: 1s ease;
}

.sidebar .MenuFooter {
  margin-top: 90%;
}

.sidebar img {
  width: 80%;
  object-fit: cover;
}

.sidebar .MenuUser {
 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.sidebar .MenuUser img {
  width: 40%;
  height: 40%;
  object-fit: cover;
}
.link {
  text-decoration: none;
  color: #fff;
 
}