.main {
  background-color: var(--color2);
  color: var(--color3);
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;transition: .5s ease-out;
}

.sidebar {
  display: flex;
  flex-direction: column;
  color: var(--text1);
  height: 97%;
  margin: 20px 20px 0;
}

.sidebar h2 {
  font-size: 1.4rem;
  display: flex;
  margin: 5px 0;
}

.sidebar h4 {
  font-size: 1rem;
  display: flex;
  margin: 0;
  margin-left: 25px;
}

.toggle_button {
  margin: 1rem;
  background-color: var(--color3);
  border-radius: 10rem;
  color: var(--text1);
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.sidebar_list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
}

.border {
  border-radius: 10px;
  border: 1px var(--color3) solid;
  margin: 0 -8px;
}

.sidebar_list h2:hover{
  transform: scale(104%);
  color: var(--color3);
  cursor: pointer;
  transition: 0.3s ease;
}

.sidebar .MenuFooter {
  margin-top: auto;
}

.sidebar img {
  width: 90%;
  object-fit: cover;
  display: block;
}

.sidebar .MenuUser {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.sidebar .MenuUser img {
  width: 40%;
  height: 40%;
  object-fit: cover;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text1);
}

.Menu {
  margin-top: 3rem;
}

.icons {
  font-size: 1.2rem;
  margin-right: 10px;
  margin-left: -4px;
  color: var(--text1);
}

.iconsActive {
  font-size: 1.4rem;
  margin-right: 10px;
  margin-left: -4px;
  transition: all 0.5s ease;transition: .5s ease-out;
  color: var(--color3);
}

.breve {
  color: var(--text1);
  opacity: 0.6;
  margin-top: 3rem!important;
}

.status {
  background-color: var(--color3);
  color: var(--text1);
  padding: 0px 6px;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  left: 10.5rem;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  font-size: 10px;
  z-index: 2;
}

/* Responsividade Celular */
@media screen and (max-width: 1400px) {
  .main {
    height: 100%;
    width: 70%;
    transition: all 0.5s ease;transition: .5s ease-out;
  }

  .sidebar h2, .sidebar h4, .MenuUser p, .arrowIcon, .status {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .main {
    height: 100%;
    width: 4rem;
    transition: all 0.5s ease;transition: .5s ease-out;
  }

  .sidebar h2, .sidebar h4, .MenuUser p, .arrowIcon, .status {
    display: none;
  }
}